*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, 'Libre Franklin', sans-serif;
}

header{
    display: flex;    
    width: 100%;
    justify-content: space-between;
    padding: 23px ;
    background-color: teal;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000;
}

header a:hover{
    text-decoration: underline;
}

.card-section{
    display: flex;
    background-color: cadetblue;
    border-radius: 32px;    
}

.description-profile{
    padding-top: 7px;
}

.h-section{    
    padding: 73px 32px 23px 32px;
}

.a-socialMedia{
    display: flex;
    padding: 2px 3px 3px 73px;
    text-decoration: underline;    
    
}

.a-socialMediaLinkedIn{
    display: flex;
    margin-right: 7px;
    align-items: baseline;
    
}

.a-footer{
    padding-left: 73px;
    align-items: center;
    display: inline-flex;
}

p{
    font-size: 16px;
}

ul{
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 323px;
}

.ul-nav{
    display: inline-block;
}

main{
    display: flex;
    width: 73%;
    margin: 23px auto;
    justify-content: space-between;
    background-color: cadetblue;
    border-radius: 32px;

}

.profile-picture{
    display: flex;
    background-color: cadetblue;
    border-radius: 32px;
    width: min-content;
    padding: 32px;    
}

footer{
    display: flex;
    align-items: center;
    padding: 11px;
}