*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, 'Libre Franklin', sans-serif;
  padding: 32px;
}

hgroup{
  margin: 23px;
  background-color: silver;
}

.style-h1, .style-h2, .style-h3{
  margin: 1%;
  display: inline-flex;
  justify-content: space-between;
}

h1{  
  text-align: center;
  text-decoration: overline underline;
}

h3{  
  text-decoration: underline;  
}

h1, h2, h3, h4, h5{
  text-shadow: 1px 1px 2px #000;
  display: flex;
}

h5{
  display: flex;
  padding: 32px 32px 1px 32px;
}
.container-firstLetter::first-letter{
  font-size: 32px;
}

ul{
  padding-left: 32px;  
  list-style: none;
  justify-content: space-between;
}

ol{
  padding: 23px;
  justify-content: space-between; 
}

ol li{
  padding: 3px;
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

/* mediaQueries */

@media (min-width: 23px) and (max-width: 959px)  {
  .style-h1{
    background: none;    
  } 
}
@media (min-width: 23px) and (max-width: 959px)  {  
  .style-h2{
    text-decoration: none;
    padding-top: 52px;
  } 
}
@media (min-width: 23px) and (max-width: 959px)  {  
  .style-h3{
    padding: 23px;
 
  }
} 
@media (min-width: 23px) and (max-width: 959px)  {
  
}
@media (min-width: 23px) and (max-width: 959px)  {
  .style-h4{
    padding-top: 73px;
 }
}